.characterBanner {
    padding: 5px;
    display: flex;
    width: 325px;
    height: 150px;
    border: 1px solid var(--grey);
    border-bottom: none;
    background-color: #FFFFFF;
    &:last-child {
        border-bottom: 1px solid var(--grey);
    }
}

.characterInfo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    font-size: 14px;
}

.bannersList {
    margin-bottom: 20px;
}

.characterImg {
    overflow: hidden;
    img {
        display: flex;
        align-items: center;
        height: 375px;
        width: 140px;
        object-fit: cover;
        object-position: -35px -50px;
    }
}
