@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

:root {
    --grey: #666666;
    --green: #8AE7D4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
    color: var(--grey);
}

body {
    background-image: URL('./img/dandelion background.png');
    background-attachment: fixed;
}

.App {
    margin: 0 auto;
    max-width: 800px;
    background-color: #FFFFFF;
}

.pageHeader {
    padding-top: 30px;
}

.bannerDivs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    font-size: 14px;
}

.sectionDivs {
    margin: 50px auto;
    max-width: 700px;
    border-bottom: 5px dotted var(--green);
    &:last-of-type {
        border-bottom: 0;
        margin-bottom: -70px;
    }
}

h3 {
    text-align: center;
    font-weight: normal;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 30px;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    color: var(--green);
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

.hideButton {
    display: none;
}

.buttonScrolled {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #BBBBBB;
    width: 120px;
    height: 50px;
    font-size: 16px;
    &:hover {
        background-color: #DDDDDD;
    }
}


@media only screen and (max-width: 820px) {
    .bannerDivs {
        margin: 0 10px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 679px) {
    .bannerDivs {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }
}